body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#fab {
    background: #800000;
    bottom:  70px;
    color: white;
    position: fixed;
    right: 10px;
    z-index: 999;
}

#fab:active {
    opacity: 0.8;
    transform: translateY(2px);
}

.card {
    margin: 10px 0;
}

#listPage .card-title,
#listPage .card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.dropdown-menu-right {
    left: -128px;
}

#roselogo {
    margin: 20px auto;
    display: block;
    max-width: 350px;
}


#sessionListContainer{
    overflow-y:auto;
}


#rosefireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}


.bmd-layout-content {
    height: 100vh;
}

.bmd-layout-drawer>header {
    background-color: #800000;
    color: white;
}

.bmd-layout-drawer>ul {
    background-color: #ddd;
}

.list-group-item :first-child {
    margin-right: 0.75rem;
}

#menuEdit, #menuDelete {
    display: none;
}

#tabs{
    position:fixed;
    background-color: #800000;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 5px;
    z-index: 999;
    width: 98%;
    
}

#tabs .nav-content{
    color:white;
    text-align: center;

    
}

#reviewSessions{
   
    margin:auto;
}
#mySessions{
    margin:auto;    
}

#submitProfile {
    background-color: #800000;
    color: white;
}

.attendeeText{
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accorButton{
    width: 100%;
}


/* 
Switch slider css */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 22px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }


  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }


  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  #submitProfile{
      margin: auto;
      
  }

  .sessionText{
      font-size:40px;
  }

  @media screen and (min-width: 600px) {
    #profilePhoto{
        max-width: 300px;
        height: 300px;
        width: 100%;
    }

    #profileCard{
     
        flex-basis: 100%;
        flex-grow: 1;
        
    }
    #profilePage{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .sessionJoinButton{

    }
    
    .sessionTitle{
        font-size: 22px;
    }

    .sessionBody p{
        font-size: 15px;
    }

    .sessionBody button{
        font-size: 18px;
    }

  }